/*
css du site mobile
*/
/* 
    Created on : 29 janv. 2018, 12:24:00
    Author     : digistage1
*/
@media screen and (max-width: 1024px)
{
    body
    {
        width: 100%;
        z-index: 2;
    }
    .el-mobile
    {
        display: block;
    }
    .el-desk
    {
        display: none;
    }
    #form-langue
    {
        width : 100%;
    }
    .form-langue
    {
        font-size : 20px;
    }
    #nav-menu
    {
        font-size : 2.5em;
        font-weight: bold;
        width: 100%;
        position: fixed;
        z-index: 4;
        height: 100%;
        top : 0;
        vertical-align: top;
        overflow: auto;
        display : none;
        
    }
    .nav-link
    {
        padding: .5rem 1rem;
    }
    #img-open
    {
        position: absolute;
    }
    .nav-button
    {
        display: block;
        margin-top : 100px;
        padding-bottom: 100px;
    }
    .nav-button *
    {
        text-align: left;
    }
    .nav-button li
    {
        width: 95%;
        padding-left: 5%;
    }
    
    .nav-item
    {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px #000000;
    }
    #img-close
    {
        z-index: 6;
    }
    .info-banner
    {
        top : 40%;
        width: 100%;
        padding-left: 3%;
        text-align: center;        
        font-weight: bold;
        font-size: 2em;
        margin: auto;
    }
    .contact
    {
        top : 47%;
    }
    .info-home, .car-perf
    {
        width: 90%;
        margin : auto;
        font-size: 30px;
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    .info-home *,.car-perf *
    {
        margin-top: 30px;
        max-width: max-content;
        margin: auto;
        padding: 0;
        float: none;
    }
    .img-group
    {
        display: block;
        margin: auto;
        float : none;
        width: 50%;
    }
    .img-group label
    {
        font-size: 25px;
    }
    .title
    {
        margin: auto;
        margin-bottom: 40px;
    }
    .gallery
    {
        margin-bottom: 50px;
    }
    .img-gallery
    {
        width : 350px;
    }
    .img-news, .vid
    {
        width: 50%;
        margin: auto;
        display: block;
    }
    .news, .vid
    {
        margin-top : 0;
        margin-bottom : 50px;
    }
    .vid
    {
        height: 276px;
    }
    .info-news,.info-vid
    {
        display: block;
        margin: auto;
        text-align: center;
        width: 90%;
    }
    .info-news *, .info-vid *
    {
        font-size: 30px;
    }
    .form-contact
    {
        width: 80%;
        font-size: 30px;
    }
    .form-contact input
    {
        font-size: 25px;
    }
    .inp-nom, .inp-pren
    {
        width : 100%;
        float: none;
    }
    .form-contact input[type=submit]
    {
        width: 55%;
    }
    .foot
    {
        font-size: 25px;
    }
}

