/*
css principal du site
*/
/* 
    Created on : 16 janv. 2018, 15:47:00
    Author     : digistage1
*/
/* Déclaration de la police version "gras" */
/**
@font-face {
    font-family: "Didact Gothic";
    src: url("assets/font/DidactGothic-Regular.ttf") format('truetype');
}**/
body
{
    width: 80%;
    margin: auto;
}
header
{
   width: 100%;
}
.el-mobile
{
    display: none;
}
.el-desk
{
    display: block;
}
.link
{
    display: none;
    font-family: "Didact Gothic"; 
    font-size: 15px;
    margin: 20px;
    margin: auto;
    color: #000000;
}
.link:hover
{
    color: #000000;
}
.img-logo
{
    width: 325px;
}
.img-nav
{
    width: 100px;
    margin-left: 25px;
    margin-top: 25px;
}
.header-logo
{
    background-color: white;
    width: 100%;
    text-align: center;
    padding :25px; 
    padding-top: 0;
}
#form-langue
{
    position: absolute;
    width: 80%;
}
.form-langue
{
    position: relative;
    float: right;
    margin: 15px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: "Didact Gothic";
    font-size: 13px;
}

#nav-menu
{
    background-color: #f2f2f2;
    font-family: "Didact Gothic";
    font-size: 16px;
}
.nav-link
{
    color: #000000;
    padding: 2.5px;
}
.nav-button li
{
    text-align: center;
    list-style: none;
    width: 100%;
}
.nav-button
{
    width: 100%;
    display: flex;
    position: relative;
    margin : 0;
    padding: 0;
}
footer
{
    padding-bottom: 10px;
    padding-top:10px;
    margin-bottom: 0;
    background-color: #f2f2f2;
    margin-top: 30px;
    width: 100%;
}
.foot
{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
.carousel-inner,.carousel,.carousel-item,.img-carousel{
  height:100%;
  width:100%;
  background-position:center center;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: max-content;
}
.banner 
{
    position : relative;
}
.info-banner
{
    float: right;
    color:black;
    position:absolute;
    top:72.5%;
    right:40px;
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
}
.info-banner a, .info-banner a:hover
{
    color: black;
    text-decoration: underline;
}
.info-home
{
    margin-top: 20px;
    font-size: 16px;
} 
.info-home p 
{
    margin-bottom: 5px;
    padding-bottom: 0;
}
.list
{
    width: 100%;
}
.list-info
{
    font-weight: bold;
    padding-left: 20px;
}

.img-banner
{
    margin-top: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.car-perf
{
    width: 100%;
    margin-top: 30px;
    display: inline-block;
}
.left
{
    margin-right: 100px;
    float: left;
    display: inline-block;
}
.right
{
    display: inline-block;
}
.rt
{
   display: inline;
}
.lt
{
    float: left;
    display: inline;
}
.list-dist
{
    padding-left: 18px;
}
.list-dist li
{
    margin-top: 5px;
}   
.title-dist
{
    font-weight: bold;
}
.img-marque
{
    width: 100%;
    white-space: pre-line;
}
.img-group img
{
    display: block;
    margin: auto;
}
.img-group 
{
    text-align: center;
    width: 50%;
}
.img-group label
{
    text-align: center;
    display: block;
    width: 100%;
}
.title
{
    font-size: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    max-width: max-content;
    font-weight: normal;
    margin-bottom: 50px;
    letter-spacing: 0.10em;
}
.gallery, .gallery:hover
{
    width: 100%;
    display: block;
}
.img-gallery
{
    display: inline;
    position: relative;
    width: 225px;
    margin: 10px;
    cursor: pointer;
}

.cont-gallery
{
    display: inline;
    position: relative;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    
}
.cont-gallery a
{
    color: white; 
    text-decoration: none; 
    cursor: context-menu;
}
.news,.videos
{
    width: 100%;
    display: block ;
    position: relative;
    margin-top: 50px;
    font-size: 20px;
}
.img-news,.vid
{   
    display: inline-table;
    margin: 0;
    margin-right: 70px;
   
}
.vid
{
    width: 450px;
}
.img-news
{
    width: 35%;
    min-width: 300px;
}

.info-news,.info-vid
{
   display: inline-table;
   vertical-align:top;
   margin: 0;
   font-size: 18px;
   letter-spacing: 0.07em;
}
.date-news,.title-vid
{
    display: block;
    font-weight: bold;
}
.desc-news
{
    display: block;
    font-size: 16px;
}
#contact
{
    margin-top: 70px;
    margin-bottom: 50px;
}
.contact
{
    font-weight: bold;
}
.form-contact
{
    width: 500px;
    margin: auto;
    font-size: 16px;
    color : #39393e;
}
.form-contact label
{
    font-family: "Didact Gothic";
    text-transform: uppercase;
    color: #000000;
}
.form-contact input
{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
}
.form-contact p
{
    display: none;
}
.bulle
{
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
}
.bulle p
{
    display: block;
}
.img-bulle
{
    width: 24px;
    margin-right: 10px;
}
.inp-nom, .inp-pren
{
    display: inline-table;
    width: 49%;
}

.inp-pren
{
    float: right;
}
.form-contact input[type=text]
{
    padding-left: 20px;
}
.form-contact input[type=submit]
{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    vertical-align: bottom;
    cursor: pointer;
    text-transform: uppercase;
}
#message
{
    height: 200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
    resize:none;
}
.form-success
{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.img-modal
{
    width: 100%;
}
.modal-dialog {
    max-width: 80%;
}
.modal-header
{
    padding: 0;
    border: none;
    width: 100%;
}
.modal-content
{
    max-height: max-content;
}
.modal-header .close
{
    padding-right: 18px;
    padding-top: 13px;
}

.modal-body
{
    padding: 20px;
    padding-top: 0;
}